/**
 * S T R A T O S    A D M I N    C S S
 * 
 */


@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Andada|Fjalla+One);
/* Import three fonts: Fjalla, an impact-like heading font; Andada, a nice serif and Ubuntu mono. */

/* Custom WebKit scrollbars because why not... */
::-webkit-scrollbar {
    width: 8px;
    max-width: 8px;
    height: 8px;
    max-height: 8px;
}
::-webkit-scrollbar-track {
    background: #222;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}
::-webkit-scrollbar-thumb{
    background: rgba(211,55,30,0.8);    
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(88,88,86,0.8); 
}

body, html {
    background: #111;
    Arial,"MS Sans Serif","Geneva",sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1, h2, h3 { font-family: 'Fjalla One', Helvetica, Helvetiva-Neue, sans-serif; }
h1 { color: inherit; }
h2 { color: inherit;}
h3 { color: inherit; text-transform: uppercase; margin-top: 10px; }
h4, h5, h6 { font-family: 'Andada', Georgia, Times, serif; color: inherit; }

::selection { background: #000; color: #FFF; }
mark, .mark { background: #F57870; color: #FFF; }

.content {
}

/** HEADER STYLES   --  --  --  --  --  --  --  --  --  --  */

.header {
    padding: 20px 30px;
    background: #F9F9F9;
    /* min-height: 135px; -- broken in moz */
}

.header .header-image {
    margin: 22px 0px;
    height: 40px;
    max-height: 40px;
}

.header .user-panel {
    float: right !important;
    display: inline-table;
}

@media (max-width: 768px){ 
    .header .user-panel {
	float: none !important;
    }
}

    .header .user-panel .user-avatar {
	float: right;
	border: 5px solid #D3371E;
	border-radius: 40px;
	width: 85px;
	height: 85px;
    }

    .header .user-panel .user-info {
	float: right;
	padding-right: 30px;
	text-align: right;
    }

        .header .user-panel .user-info h3 {
	    color: #000;
	    margin: 10px 0px;
	}


/** CONTAINER STYLES:    --  --  --  --  --  --  --  --  --  -- */

.container {
    margin: 0px auto;
    width: 1400px;
}

.main {
    padding: 30px;
}

/* Trello-like horizontally scrolling card thing*/
.cards {
    background: #DBDBDB;
    padding-top: 30px;
    max-height: 318px;
    overlow-y: hidden;
}

.cards:before, .cards:after {
    content: " ";
    display: table;
    clear: both;
}

.cards ::-webkit-scrollbar-track {
    background: #EEE;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
            box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

.cards ::-webkit-scrollbar-thumb {
    background: #999;
}

    .card-wrap {
	margin: auto;  
	position: relative;
	width: 100%;
	padding: 0px 30px;
	overflow-x: auto;
    }

    .card-scroll {
	width: 10000px;
    }

    .card-col {
	position: relative;
	width: 270px;
	float: left;
	margin: 0px 4px;
	overflow-y: auto;
	overflow-x: hidden;
    }

    .card-col .block h3 {
	color: #111;
	font-size: 18px;
    }

    .card-col .block {
	max-height: 250px;
	overflow-y: auto;
    }

    .card-col ::-webkit-scrollbar {
	width: 6px;
	max-width: 6px;
	height: 6px;
	max-height: 6px;
    }

    .card-col ::-webkit-scrollbar-track {
	background: #EEE;
	-webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 0.5);
    }

    .card-col ::-webkit-scrollbar-thumb {
	background: #FFF;
	border-radius: 3px;
    }

    .trello {
	position: relative;
	width: 100px;
	float: left;
	margin: 0px 4px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
	background: #D0D0D0;
	color: #FFF;
    }

    .trello a {
	opacity: 0.6;
	color: #FFF;
    }

    .trello a:hover {
	opacity: 1;
	text-decoration: none;
    }

    .trello hr {
	padding: 0;
	margin: 10px 0px;
	border-top: 3px solid #E0E0E0;
    }

    /* .bits are trello like reminder cards */

    .bit {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	           border-radius: 3px;
		   background: #FFF;
		   padding: 4px;
		   margin-bottom: 5px;
		   -webkit-box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
		      -moz-box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
		              box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
    }

    a.card-add {
	display: block;
	color: #888;
	padding-top: 5px;
    }


/* Blocks for the column layout */

.block {
    padding: 10px;
    background: #EEE;
    margin-bottom: 30px;
    border-left: 5px solid #BBB;
    /*-webkit-box-shadow: 0 10px 6px -6px #000;
       -moz-box-shadow: 0 10px 6px -6px #000;
            box-shadow: 0 10px 6px -6px #000;*/
}


.block-edit {
    height: 33px;
    background: #333;
    color: #FFF;
    padding: 5px;
    border-left: 5px solid #000;
    border-bottom: 1px solid #111;
}


.block-red {
    background: #A82C18;
    color: #FFF;
    border-color: #7B2012;
}

.block-black {
    background: #222;
    color: #FFF;
    border-color: #333;
}

.block-green {
    /*background: #169C3F;*/
    background: #008A30;
    color: #000;
    border-color: #117C32;
}

.block-blue {
    background: #166B83;
    color: #FFF;
    border-color: #0F4A5B;
}

.block-yellow {
    background: #F0AD4E;
    color: #000;
    border-color: #A77632;
}

.block-purple {
    background: #9D1F58;
    color: #FFF;
    border-color: #7B1141;
}


/*
.block-black h1, .block-black h2, .block-black h4,
.block-red   h1, .block-red   h2, .block-red h4 { color: #FFF !important; }
.block-black h3, .block-red h3 { color: #C1BBB6 !important; }
*/

/* Square block classes: */
/* NB: For medium we allow the block to expand further than square*/
@media (min-width: 992px){
    .block-4-sq { min-height: 202px; overflow: hidden; }
    .block-6-sq { min-height: 319px; overflow: hidden; }
    .block-8-sq { min-height: 435px; overflow: hidden; }
}
@media (min-width: 1230px){
    .block-4-sq { height: 293px; max-height: 293px; overflow: hidden; }
    .block-6-sq { height: 455px; max-height: 455px; overflow: hidden; } 
    .block-8-sq { height: 615px; max-height: 615px; overflow: hidden; }
}



/**  FORMATTING  --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   */

/* NB: Some are targeted just at the div.main class */
/* Most of these are tags, but some are Bootstrap Classes */


blockquote {
    font-family: 'Andada', Georgia, Times, serif;
    font-size: 16px;
    color: #413C37;
    border-left: 5px solid #E4E4E4;
}

    blockquote cite {
	padding: 10px 0px 0px 5px;
	display: block;
	font-size: 80%;
	font-style: italic;
    }


.btn-full {
    width: 100%;
    text-align: left;
}

/* ADDED CLASS: Centres Blocks and Text */
.centre { text-align: center; margin: 0px auto; }


code {
    background: #E9E9E9;
    font-size: inherit;
}

/* Modify grid to allow stacking */
@media (min-width: 1230px) {
    .col-lg-12 { clear: both; }
}
@media (min-width: 992px) {
    .col-md-12 { clear: both; }
}
@media (min-width: 768px) {
    .col-sm-12 { clear: both; }
}
@media (max-width: 767px) {
    .col-xs-12 { clear: both; }
}

dl {
        display: block;
        padding: 0px 10px 20px 10px;
        margin-top: 10px;
        border-top: 3px solid #E4E4E4;
        color: #808080;
}

dt {
        font-size: 110%;
        padding-top: 20px;
        padding-bottom: 10px;
	font-weight: normal;
	color: #111;
}
        dt::after { content: " :~"; }

dd {
        font-size: 90%;
        text-indent: 20px;
}


/* ADDED CLASS: Nice calendary date render */
.event {
    clear: both;
    display: block;
    padding-bottom: 10px;
}

    .event .event-cal {
	width: 70px;
	line-height: 1.1;
	float: left;
	background: #DDD;
	border: 1px solid #CCC;
	border-radius: 2px;
	color: #111;
	margin-right: 10px;
	text-align: center;
    }
    
    .event h2 {
	color: #585858;
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 10px;
	padding-top: 0px;
	margin: 0;
    }
    
    .event .event-description {
	margin-left: 80px;
    }

    .event .event-description p { font-size: 90%; line-height: 110%; }
    .event .event-date { padding: 5px; }
    .event .event-date-day { display: block; font-size: 100%; }
    .event .event-date-num { display: block; font-size: 150%; }
    .event .event-date-mon { display: block; font-size: 70%; }
    .event .event-time {
        padding: 5px;
        background: #EEE;
        border-top: 1px solid #CCC;
    }

/* ADDED CLASS: Renders a div.footnote as references/ sources */
.footnote {
    display: block;
    padding: 10px 10px;
    margin-top: 20px;
    border-top: 1px solid #D3371E;
    color: #808080;
    font-size: inherit;
    font-style: italic;
}


.glyphicon {
    font-family: 'Glyphicons Halflings', Helvetica, Arial, sans-serif;
}


hr {
    padding: 5px 0px;
    margin: 0;
    border: 0;
    border-top: 3px solid #E0E0E0;
}


.main iframe { margin: 10px 0px; width: 100% !important; }


.main img { margin: 0px auto; }


.mar-5  { margin: 5px;  }
.mar-10 { margin: 10px; }
.mar-15 { margin: 15px; }
.mar-20 { margin: 20px; }
.mar-30 { margin: 30px; }
.mar-lr-5  { margin: 0px 5px;  }
.mar-lr-10 { margin: 0px 10px; }
.mar-lr-15 { margin: 0px 15px; }
.mar-lr-20 { margin: 0px 20px; }
.mar-lr-30 { margin: 0px 30px; }

ol ol {
    list-style: lower-latin;
}

ol ol ol {
    list-style: lower-roman;
}


/* ADDED CLASSES: Adds padding */
.pad-5  { padding: 5px;  }
.pad-10 { padding: 10px; }
.pad-15 { padding: 15px; }
.pad-20 { padding: 20px; }
.pad-30 { padding: 30px; }
.pad-lr-5  { padding: 0px 5px;  }
.pad-lr-10 { padding: 0px 10px; }
.pad-lr-15 { padding: 0px 15px; }
.pad-lr-20 { padding: 0px 20px; }
.pad-lr-30 { padding: 0px 30px; }


pre {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 14px;
    line-height: 16px;
    color: #111;
    padding: 20px 15px;
    margin: 10px 0px;
    background: #E9E9E9;
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-left: 1px solid #D3371E;
}


/* ADDED CLASS: */
.serif {
    font-family: 'Andada', Georgia, Times, serif !important;
}


table.post-list {
    width: 100%;
    border-top: 2px solid #AAA;
    margin: 20px 0px;
    background: #F8F8F8;
}

    /*table.post-list a, table.post-list a:visited {
	color: #006289;
    }

    table.post-list a:hover {
	color: #0074a2;
    }*/

    table.post-list thead {
	font-weight: bold;
	background: #FFF;
    }

    table.post-list thead tr {
	height: 40px;
    }

    table.post-list tr {
	border-bottom: 1px solid #AAA;
	height: 66px;
    }

    table.post-list td {
	padding: 5px 10px;
    }

    table.post-list .post-title {
	color: #000;
	font-weight: normal;
    }

    table.post-list tr .post-panel {
	height: 30px;
    }

    table.post-list tr .post-panel .btn-group {
	display: none;
    }

    table.post-list tr:hover .post-panel .btn-group {
	display: block;
    }

    table.post-list td.post-check {
	width: 30px;
    }

        table.post-list td.post-check input[type=checkbox] {
	    font-family: 'Glyphicons Halflings', Helvetica, Arial, sans-serif;
	    border: 1px solid #999;
	    background: #FFF;
	    padding: 2px;
	    border-radius: 0px;
	    border-width: 1px;
	    border-style: solid;
	    clear: none;
	    cursor: pointer;
	    display: inline-block;
	    line-height: 0;
	    height: 16px;
	    margin: -4px 4px 0 0;
	    outline: 0;
	    padding: 0!important;
	    text-align: center;
	    vertical-align: middle;
	    width: 16px;
	    min-width: 16px;
	    -webkit-appearance: none;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}

	table.post-list td.post-check input[type=checkbox]:focus {
	    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	}

	table.post-list td.post-check input[type=checkbox]:checked  {
	    background: #FFF;
	    color: #D3371E;
	}

	table.post-list td.post-check input[type=checkbox]:checked:before {
	    content: '\e013';
	    margin: 5px 0 0 1px;
	    float: left;
	    display: inline-block;
	    vertical-align: middle;
	    width: 16px;
	    speak: none;
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}


table.table {
    border-top: 3px solid #D3371E;
}

table.table thead {
    font-size: 120%;
    font-family: 'Andada', Georgia, Times, serif;
}

table.table tr {
    border-bottom: 1px solid #BBB;
    border-left: 1px dashed #BBB;
}

table.table td {
    border-right: 1px dashed #BBB;
}

